@{
    ViewData["Title"] = "Opis strony";
}
<style>
    .center-desc{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div>
    <div>
        <div class="center-desc" style="padding:50px">
            <h2>Strona stworzona w celu nauki .net core.</h2>
        </div>
            </br>
        <div class="center-desc">
            <img src="https://i1.sndcdn.com/artworks-000620864446-ji5lh3-t240x240.jpg"></img>
        </div>
    </div>
</div>